{% block mainmenu %}
    <div class="row">
          <div class="col-md-4">
               <h3>Меню</h3>

                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery/">Галерея</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index/">Последние 5 товаров</a>
                    </li>
    </div>
{% endblock mainmenu %}
