{% extends 'products/base.html' %}
{% load functions %}

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="{% if object %}Сохранить статью{% else %}Создать статью{% endif %}"  &raquo;>
                </form>
                <div class="card-footer">
                    <a href="{% url 'blog:blogs' %}" class="btn btn-primary">Наш блог</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}