{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
         <title>{{title}}</title>
    {% endblock title %}
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
    <script src={% static 'js/bootstrap.bundle.min.js' %}> </script>
</head>
    <body>
    {%  include 'products/includes/inc_menu.html' %}
    <div class="mb-1 text-muted">Вы вошли как {{ user  }}</div>
    {% block content %}
    {% endblock %}


    {% block footer %}
        <!--  footer -->
          <footer>
             <div class="footer mt-auto py-3 bg-light">
                <div class="container">
                     <div class="col-lg-3 offset-mdlg-2     col-md-4 offset-md-1">
                         <div class="text-body">
                            Location:<a href="#"> demo@gmail.com</a>
                             <br>
                             Call : +01 1234567890
                         </div>
                     </div>
                </div>
             </div>
              <div class="copyright">
                   <div class="container">
                      <div class="row">
                         <div class="col-md-10 offset-md-1">
                            <p>© 2023 All Rights Reserved. </p>
                         </div>
                      </div>
                   </div>
              </div>
             </div>
          </footer>
        <!-- end footer -->
        {% endblock footer %}


    </body>
</html>
