{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% block title %}
         <title>{{title}}</title>
    {% endblock title %}
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
    <script src={% static 'js/bootstrap.bundle.min.js' %}> </script>


</head>
    <body>
    {%  include 'products/includes/inc_menu.html' %}
    {% block content %}
    {% endblock %}


    {% block footer %}
        <!--  footer -->

          <footer>
             <div class="footer mt-auto py-3 bg-light">
                <div class="container">
                     <div class="col-lg-3 offset-mdlg-2     col-md-4 offset-md-1">
                         <ul class="conta">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Location</li>
                            <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i> Call : +01 1234567890</li>
                         </ul>
                     </div>
                </div>
             </div>
              <div class="copyright">
                   <div class="container">
                      <div class="row">
                         <div class="col-md-10 offset-md-1">
                            <p>© 2023 All Rights Reserved. </p>
                         </div>
                      </div>
                   </div>
              </div>
             </div>
          </footer>
        <!-- end footer -->
        {% endblock footer %}


    </body>
</html>
