{% extends 'products/base.html' %}
{% load functions %}

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="{% if object %}Сохранить категорию товара{% else %}Создать категорию товара{% endif %}"  &raquo; >
                </form>
                <div class="card-footer">
                    <a href="{% url 'products:categories' %}" class="btn btn-primary">Все категории</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}