{% extends 'products/base.html' %}
{% load functions %}

    {% block content %}
        <h3>{{  text }}</h3>
    <div class="card" style="width: 24rem;">
      {% if  object.image %}
          <img src={{ object.image.url }} class="card-img-top" alt={{ object.name }}>
      {% endif %}
          <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <h5 class="card-title">{%  get_ruble object.price %}</h5>
                <h5 class="card-title">{{ object.category }}</h5>
                <h5 class="card-title">Список версий товара {{ object.name }}</h5>
                {% for version in versions %}
                    <a href="{% url 'products:version' version.pk %}" >Версия {{ version.version_number }} - {{ version.version_title }}</a>
                    <br>

                {% endfor %}

                <p class="card-text">{{ object.description  }}</p>
                <p class="card-text">Дата создания: {{ object.created_data|date:'d:m:Y' }}</p>
                <p class="card-text">Дата последнего изменения: {{ object.last_changed_data|date:'d:m:Y' }}</p>

                <div class="card-footer">
                    <a href="{% url 'products:products' %}" class="btn btn-primary">Главная &raquo;</a>
                {%  if perms.products.change_product %}
                    <a class="btn btn-warning" href={% url 'products:product_update' object.pk %}>Изменить &raquo;</a>
                {% endif %}
                {%  if perms.products.delete_product %}
                    <!-- <a href="{% url 'products:toggle_activity_product' object.pk %}" class="btn btn-warning float-rigth">{% if object.is_active %}Деактивировать{% else %}Активировать{% endif %} &raquo;</a> -->
                    <a class="btn btn-danger" href={% url 'products:product_delete' object.pk %}>Удалить &raquo;</a>
                {% endif %}
                </div>
          </div>
    </div>
    {% endblock content %}
