{% extends 'products/base.html' %}
{% load functions %}

{% block content %}
    <div class="col-6 ">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="{% if object %}Сохранить товар{% else %}Создать товар{% endif %}"  &raquo;>
                </form>
                <div class="card-footer">
                    <a href="{% url 'products:products' %}" class="btn btn-primary">Главная</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}