{% extends 'products/base.html' %}
{% load functions %}

    {% block content %}

        <h1>{{ text }}</h1>

        <h1>Все товары</h1>
        <table>

            {% for obj in objects %}

                <tr>
                    <td>{% if  obj.image %}
                            <img src={{ obj.image.url }} width="80" height="80" alt={{ object.name }}>
                        {% endif %}

                    </td>

                    <td><h3>{{ obj.name }}</h3></td>
                    <td><p>{{ obj.price }}</p></td>
                    <td><p>{{ obj.category }}</p></td>
                    <td><p> {{ obj.description|cut_first }}</p></td>
                    <td><p>Дата создания: {{ obj.created_data|date:'Y:m:d' }}</p></td>
                    <td><p>Дата последнего изменения: {{ obj.last_changed_data|date:'Y:m:d' }}</p></td>
                </tr>

            {% endfor %}
        </table>
    {% endblock content %}
